* {
    background-color: #dde;
    font: arial;
}

body, html{
    height: 100%;
    width: 100%;
    margin: 0;
}

#loading {
    z-index: 1000;
}
#loading img{
    width: 80vw;
    max-width: 75vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    animation: wobel 2s ease-in-out 0s infinite;
}
@keyframes wobel {
    0% {
        transform: translate(-50%, -50%) scale(100%);
    }
    50% {
        transform: translate(-50%, -50%) scale(110%);
    }
    100% {
        transform: translate(-50%, -50%) scale(100%);
    }
}

.window{
    position: absolute;
    height: 100%;
    width: 100%;
}


.windowdiv{
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.windowdiv .window {
    position: unset;
}

.topbar{
    height: 3rem;
    width: 100%;
    border-bottom: #444440 solid 2px;
}
.topbar img{
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    height: 2rem;
    z-index: 1010;
}


#statusDiv {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 5px 10px;
    border-collapse: collapse;
    word-break: break-all;
    color: gray;
    background-color: #dde;
    border-radius: 10px;
    max-width: calc(100% - 100px);
    font-weight: bold;
    border: solid 1px;
    transition: background-color 200ms;
}

#statusDiv ul {
    list-style: none;
    border-bottom: 1px solid #d3d3d3;
    text-align: left;
}

#statusDiv li {
    margin-left: -40px;
    padding: 5px;
    padding-top: 10px;
    min-height: 20px;
    border-top: 1px solid #d3d3d3;
    font-size: 0.9em;
}

/* loading animation */
.boxcase {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.box {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;

}

.box div {
    position: absolute;
    height: 44%;
    width: 44%;
    border-radius: 25%;
    background-color: #000;
    animation: boxani 6s linear infinite;
}

.box div:nth-child(1) {
    left: 4%;
    top: 4%;
    animation-delay: 0s;
}

.box div:nth-child(2) {
    left: 52%;
    top: 52%;
    animation-delay: -2s;
}

.box div:nth-child(3) {
    left: 4%;
    top: 52%;
    animation-delay: -4s;
}

@keyframes boxani {
    0% {
        left: 4%;
        top: 4%;
    }

    8.33% {
        left: 52%;
        top: 4%;
    }

    25% {
        left: 52%;
        top: 4%;
    }

    33.33% {
        left: 52%;
        top: 52%;
    }

    50% {
        left: 52%;
        top: 52%;
    }

    58.33% {
        left: 4%;
        top: 52%;
    }

    75% {
        left: 4%;
        top: 52%;
    }

    83.33% {
        left: 4%;
        top: 4%;
    }

    100% {
        left: 4%;
        top: 4%;
    }
}